<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    {% include head.liquid %}
  </head>
  <body class="design-replica-body">
    <div class="design-replica-shell {{ page.replica_variant }}">
      {{ content }}
    </div>
  </body>
</html>
